{% load staticfiles %}
<div class="row">
	<div class="span12">										
		<div class="row">
			<div class="span12 index-carousel-slider">
				<h4 class="title">
					<span class="pull-left"><span class="text"><span class="line">{{ title }} <strong>Products</strong></span></span></span>
					<span class="pull-right">
						<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
					</span>
				</h4>
				<div id="myCarousel" class="myCarousel carousel slide">
					<div class="carousel-inner">
						<div class="active item">
							<ul class="thumbnails">
							{% for product in products %}
								<li class="span3">
									<div class="product-box">
										<span class="sale_tag"></span>
										<p><a href="{{ product.get_absolute_url }}"><img src="{{ product.get_image_url }}" alt="" /></a></p>
										<a href="{{ product.get_absolute_url }}" class="title">{{ product.title }}</a><br/>
										<a href="" class="category">{{ product.get_category }}</a>
										<p class="price">{{ forloop.counter }}</p>
									</div>
								</li>
								{% cycle '' '' '' '</ul></div><div class="item"><ul class="thumbnails">' %}
								{% endfor%}
							</ul>
						</div>
					</div>
				</div>						
			</div>
			<br/>
		</div>				
	</div>
</div>
