{% load staticfiles %}

<section id="footer-bar">
	<div class="row footer-row">
		<div class="span3 text-center">
			<h4>Navigation</h4>
			<ul class="nav ">
				<li><a href="{% url 'sitemap:index' %}">Homepage</a></li>  
				<li><a href="{% url 'sitemap:about' %}">About Us</a></li>
				<li><a href="{% url 'contact:contact' %}">Contact Us</a></li>
				<li><a href="{% url 'cart:main' %}">Your Cart</a></li>
				<li><a href="./cart.html">Privacy Policy</a></li>
				{% if user.is_anonymous %}
				<li><a href="{% url 'users:login' %}">Login</a></li>	
				{% endif %}					
			</ul>					
		</div>
		<div class="span4 text-center">
			<h4>My Account</h4>
			<ul class="nav">
				<li><a href="#">Order History</a></li>
				<li><a href="{% url 'newsletter:newsletter' %}">Newsletter</a></li>
			</ul>
		</div>
		<div class="span5">
			<p class="logo"><img src="{% static "sitemaps/images/logo.png" class="site_logo" %}" alt=""></p>
			<p>We are a small, family-owned and operated health food store and health education center servicing East Flatbush, Brooklyn and surrounding communities.  We try to raise awareness of holistic health and well-being while offering products and services of the highest quality and best value for our customers.</p>
			<br/>
			<span class="social_icons">
				<a class="facebook" href="#">Facebook</a>
				<a class="twitter" href="#">Twitter</a>
				<a class="skype" href="#">Skype</a>
				<a class="vimeo" href="#">Vimeo</a>
			</span>
		</div>					
	</div>	
</section>
<section id="copyright" class="text-center">
	<span>Copyright 2016 created by Jared.</span>
</section>