{% extends 'base.html' %}



<script>
	{% block jquery %}
	$('.item-qty').change(function(){
		var item = $(this).prev("input[type=hidden]").val()
		var qty = $(this).val()
		data = {
			"item": item,
			"qty": qty
		}
		console.log(data)
		$.ajax({
			type: "GET",
			url: /cart/,
			data: data,
			success: function(data){
				console.log(data)
				// $("#jquery-message").text("Added" + data.item_added+ "Deleted" + data.deleted) 
				if(data.deleted){
					$("#item-"+item).fadeOut();
				}else{
					$("#item-line-total-" + item).text(data.line_total);
					$("#subtotal").text(data.subtotal);
					$("#tax-total").text(data.tax_total);
					$("#cart-total").text(data.cart_total);
				}
				if (data.total_items === 0){
					$(".table").fadeOut();
					var template = "{% include 'carts/empty_cart.html' %}"
					$(".cart-main").html(template);

				}
				showFlashMessage(data.flash_message)
				updateCartItemCount()
			},
			error: function(reponse, error){
				console.log(reponse)
			}


		})
	});

	{% endblock %}
</script>
{% block content %}
<p id='jquery-message' class='lead'>
</p>
<div class="cart-main">
	
</div>
{% if object.cartitem_set.count < 1 %}
<div class="col-sm-6 col-sm-offset-3 text-center">
	
	<h3>Cart is empty</h3>
	<p>Continue Shopping</p>
</div>

{% else %}
<table class="table">
	{% for item in object.cartitem_set.all %}
	<tr id="item-{{ item.item.id }}">
		<td>{{ item.item.get_title }}</td>
		<td>
			<form action="." method="GET">
			<input type="hidden" name="item" value="{{ item.item.id }}"/>
			<input class="item-qty" type="number" name="qty" value="{{ item.quantity}}"/>
			<input type="submit" class="btn btn-link btn-update" value="Update Item"></>
			</form>
		</td>
		<td id="item-line-total-{{ item.item.id }}">
			{{ item.item_total }}
		</td>
		<td class="text-right">
			<a href="{{ item.remove }}">X</a>
		</td>
	</tr>
	{% endfor %}
	<tr>
		<td col-span="4" class="text-right">Subtotal: <span id="subtotal">
			{{ object.subtotal }}	
		</span> 
		</td>
	</tr>
	<tr>
		<td col-span="4" class="text-right">Tax: <span id="tax-total">{{ object.tax_total }}</span> 	
		</td>
	</tr>
	<tr>
		<td col-span="4" class="text-right">Total: <span id="cart-total">{{ object.total }}</span> 	
		</td>
	</tr>
</table>

{% endif %}
{% endblock %}