
<p class="lead">Your Order</p>
<table class="table">
	<tr>
		<td>{{ order.cart.cartitem_set.count }} Item(s): <br/>
	{% for product in order.cart.cartitem_set.all %}
		<b>{{ product.item.get_title }}</b> <br/>
	{% endfor %}
		</td>
	</tr>
	<tr>
		<td>
			Subtotal: {{ order.cart.total }}
		</td>
	</tr>
	<tr>
		<td>
			Tax: {{ order.cart.tax_total }}
		</td>
	</tr>
	<tr>
		<td>
			Shipping: {{ order.shipping_total_price }}
		</td>
	</tr>
	<tr>
		<td>
			Total: {{ order.order_total }}
		</td>
	</tr>
</table>
	<p>
		<b>Shipping To</b>
		<h4>{{ order.billing_address.get_address }}</h4>
	</p>