{% load staticfiles %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="https://js.braintreegateway.com/js/braintree-2.24.1.min.js"></script>
	<!-- <script src="{% static 'products/js/price.js' %}"></script> -->
	<!-- <script src="{% static 'js/alertMessage.js' %}"></script> -->
	<!-- <script src="{% static 'sitemaps/js/responsiveCarousel.min.js' %}"></script> -->
	<script src="{% static 'sitemaps/js/superfish.js' %}"></script>	
	<script src="{% static 'sitemaps/js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'sitemaps/js/jquery.fancybox.js' %}"></script>
	<script type="text/javascript">
			$(document).ready(function() {
				console.log("javascript.html")
				$('.flexslider').flexslider({
					animation: "fade",
					slideshowSpeed: 4000,
					animationSpeed: 600,
					controlNav: false,
					directionNav: true,
					controlsContainer: ".flex-container" // the container that holds the flexslider
				});
			});
	</script>
	<script>	
		$(document).ready(function(){
			{% block jquery %}
			{% endblock %}
		});
	</script>