{% extends 'base.html' %}

	<script type="text/javascript">
			{% block jquery %}
		var setPrice = function(){
			var price = $(".variation_select option:selected").attr("data-price")
			var price = $(".variation_select option:selected").attr("data-price")
			var $salePrice = $(".variation_select option:selected").attr("data-sale-price")
			if ( $salePrice != "" && $salePrice != "None" && $salePrice != null){
				$("#price").html("<h3>" + $salePrice + " " + "<small>" + price + "</small>" + "</h3>");
			}else{
				$("#price").text(price);
			}
			
		};
			$(".variation_select").change(function(){
				setPrice()
			});

			{% endblock %}
	</script>

{% block content %}
<!-- <div class="row"> -->
	<h1>
		{{ object.title }}
	</h1>
	<h3>

	</h3>
	{% if object.productimage_set.count > 0 %}
		<div class="">
		{% for img in object.productimage_set.all %}
			<img src="{{ img.image.url }}">
		</div>
		{% endfor %}
	{% endif%}
		
	<h3 id="price">
		{{ object.price }}
	</h3>
	{% if object.variation_set.all.count > 1 %}
		<select class="form-cotrol variation_select">
		{% for item in  object.variation_set.all %}
			<option data-sale-price="{{ item.sales_price }}" data-price="{{ item.price }}" value="{{ item.id }}">
				{{ item }}
			</option>
			{% endfor %}
			</select>
	{% else %}
		<a href="#">Add To Cart</a>
	{% endif %}
	
<!-- </div> -->
{% endblock %}