{% extends 'base.html' %}

	<script type="text/javascript">
			{% block jquery %}
		var setPrice = function(){
			var price = $(".variation_select option:selected").attr("data-price")
			var price = $(".variation_select option:selected").attr("data-price")
			var $salePrice = $(".variation_select option:selected").attr("data-sale-price")
			if ( $salePrice != "" && $salePrice != "None" && $salePrice != null){
				$(".product-price").html("<h3>" + $salePrice + " " + "<small>" + price + "</small>" + "</h3>");
			}else{
				$(".product-price").text(price);
			}	
		};
			$(".variation_select").change(function(){
				setPrice()
			});

			$("#cart-submit-btn").click(function(event){
				event.preventDefault();
				var formData = $("#add-cart-form").serialize();
				// console.log(formData);
				$.ajax({
					type: "GET",
					url: "/cart/",
					data: formData,
					success: function(data){
						console.log(data);
						showFlashMessage(data.flash_message);
						updateCartItemCount();
					},
					error: function(reponse, error){
						console.log(reponse);
						console.log(error);
						console.log(data);
					}
				})
			})
			{% endblock %}
	</script>

{% block content %}
	<p id='jquery-message' class='lead'>
</p>

<div class="row" style="border: 2px solid black; min-height: 400px;">
	<section id="product-image-container" class="col-sm-6" style="min-height: 100px; position: relative; border: 4px solid green;" >
		<div id="product-image" style="max-width: 345px;">
			{% if object.get_image_url %}
					<img src="{{ object.get_image_url }}" style="max-width: 100%;">
			{% endif%}
		</div>
	</section>
	


	
<section class="product-info col-sm-6"style=" border: solid 4px purple;">	
	<div class="product-name">{{ object.title }}</div>
	<div class="product-price">{{ object.price }}</div>	
	<div class="product-description">{{ object.description }}</div>

	<form id="add-cart-form" method=="GET" action="{% url 'cart:main' %}" style="border: 1px solid red;">
		{% if object.variation_set.all.count > 1 %}
		<select name="item" class="form-cotrol variation_select">
			{% for item in  object.variation_set.all %}
			<option  name='item' data-sale-price="{{ item.sales_price }}" data-price="{{ item.price }}" value="{{ item.id }}">
			{{ item }}
			</option>
			{% endfor %}
		</select>
		{% else %}
		<input name='item' type="hidden" value="{{ object.variation_set.first.id }}">
			<h3 id="price">{% if object.variation.first.sale_price %}
				{{ object.variation.first.sale_price }}
			<small class="og-price">{{ object.variation_set.first.price }}</small>
			{% else %}
			{{ object.variation_set.first.price }}
			{% endif %}
			</h3>

		{% endif %}
		<input class="form-control" type="number" name="qty" value="1">  </>
		<br>	
		<input id="cart-submit-btn" type="submit" class="btn btn-default" value="Add To Cart">
	</form>
	
</section>	
</div>	


<!-- 
<div class="row" style="background-color: orange;">
<h2 class="text-center">Related Product</h2>
		{%  for product in related %}
		<div class="col-xs-6">
			{% include 'products/product_thumbnail.html' with product=product %}
		</div>
		{% cycle '' '</div><div class="row">'%}
		{% endfor %}
	</div> -->


		
{% endblock %}